<h1>Comprar Producto</h1>

<div class="container">
    <form method="POST" action='@Url.Action("ConfirmarCompra","Home")' class="m-5">
        <div class="form-row">
            <input type="hidden" name="id_usuario" value="@ViewBag.IdUsuario">
            <input type="hidden" name="id_producto" value="@ViewBag.IdProducto">
            <div class="col">
                <label for="formGroupExampleInput">Nombre</label>
                <input type="text" class="form-control" placeholder="First name" name="nombre" required>
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Apellido</label>
                <input type="text" class="form-control" placeholder="Last name" name="apellido" required>
            </div>
        </div>
        <p></p>
        <div class="form-row">
            <div class="col">
                <label for="formGroupExampleInput">DNI</label>
                <input type="text" class="form-control" name="dni" required>
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Numero de tarjeta</label>
                <input type="text" class="form-control" placeholder="XXXX XXXX XXXX XXXX" name="num_tarjeta" required>
            </div>
        </div>
        <p></p>
        <div class="form-row">
            <div class="col">
                <label for="formGroupExampleInput">Fecha de vencimiento</label>
                <input type="month" class="form-control" placeholder="MM/AA" name="fecha_vencimiento" required>
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Codigo de seguridad</label>
                <input type="text" class="form-control col-sm-2" placeholder="***" name="cod_seguridad" required>
            </div>
        </div><br>
        <div class="text-center">
            <a href='@Url.Action("Index","Home")' class="btn btn-light text-primary">Volver a la home</a>
            <input class="btn btn-primary" type="submit" value="Comprar">
        </div>
    </form>
</div>