<h1>Registrarse</h1>

<div class="container">
    <form method="POST" action='@Url.Action("GuardarUsuario","Home")' class="m-5">
        <div class="form-row">
            <div class="col">
                <label for="formGroupExampleInput">Nombre</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Apellido</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <p></p>
        <div class="form-row">
            <div class="form-group col">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group col">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fecha_nacimiento">
            </div>
            <div class="form-group col">
                <label for="direccion">Direccion</label>
                <input type="text" class="form-control" id="direccion">
            </div>
        </div>
        <p></p>
        <div class="form-row">
            <div class="form-group col">
                <label for="provincia">Localidad/Provincia</label>
                <select class="form-control" id="provincia">
                    <option selected></option>
                    @foreach (string item in ViewBag.ListaProvincias)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <div class="form-group col">
                <label for="num_telefono">Num. de Telefono</label>
                <input type="text" class="form-control" id="num_telefono">
            </div>
        </div>
    </form>
</div>