<h1>Registrarse</h1>

<div class="container">
    <form method="POST" action='@Url.Action("GuardarUsuario","Home")' class="m-5">
        <div class="form-row">
            <div class="col">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="col">
                <label>Apellido</label>
                <input type="text" class="form-control" name="apellido">
            </div>
        </div>
        <p></p>
        <div class="form-row">
            <div class="form-group col">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="example@gmail.com" name="email">
            </div>
            <div class="form-group col">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Fecha de Nacimiento</label>
                <input type="date" class="form-control" name="fecha_nacimiento">
            </div>
            <div class="form-group col">
                <label>Direccion</label>
                <input type="text" class="form-control" name="direccion">
            </div>
        </div>
        <p></p>
        <div class="form-row">
            <div class="form-group col">
                <label>Localidad/Provincia</label>
                <select class="form-control" name="provincia">
                    <option selected></option>
                    @foreach (Provincia item in ViewBag.ListaProvincias)
                    {
                        <option>@item.provincia</option>
                    }
                </select>
            </div>
            <div class="form-group col">
                <label>Num. de Telefono</label>
                <input type="text" class="form-control" name="num_telefono">
                <input type="hidden" name="administrador" value="false">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
    </form>
</div>